@import 'color.scss';
@font-face {
	font-family: Cyr; /* Гарнитура шрифта */
	src: url(../fonts/Pollock1CTT.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: Pollock1CTT; /* Гарнитура шрифта */
	src: url(../fonts/Pollock1CTT.ttf); /* Путь к файлу со шрифтом */
}
$title:"Comic Sans MS";
$menu:Impact;
$text:"arial";

a{
	color:$Light;
	text-decoration:none;
	
}
.headerCenter{
	&__link{
		font-family:$menu;
	}
}

.footer{
	&__text{
		font-family:$text;
	}
}
.navigation{
	&__link{
		font-family:$menu;
	}
}
.text{
	&__title{
		font-family:$title;
	}
	&__descript{
		font-family:$text;
	}
}