@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';

.mobile{
	display:none;
	justify-content:flex-end;
	margin-top:5px;
}
.desktop{
	display:flex;
}


.big-red{
	font-weight:bold;
	color:$elements
}
.mini-text{
	font-size:13px;
}
.katalog-text{
	margin-top:100px;
	text-align:left
}
@media screen and (min-width: 320px) and (max-width: 750px){
	.desktop{
		display:none;
	}
	.mobile{
		display:flex;
	}
}