@import 'color.scss';
@import 'fonts.scss';
@import 'mixins.scss';
@import 'modification.scss';


body{
	margin:0;
	padding:0;
	max-width:1920px;
	min-width:320px;
	
}

	/***header style**/

header,.navigation{
	display:flex;
	justify-content:center;
	background:$blockColor;
	position:fixed;
	width:100%;
	z-index:9999;
}
.headerCenter,.headerCenter__menu,.headerCenter__ul{
	display:flex;
	
}
.headerCenter,.headerMobile{
	width:83%;
}
.headerCenter{
	justify-content:space-between;
	&__ul{
		align-self:center;
		list-style-type:none;
		justify-content:space-around;
		width:100%;
	}
	&__link:hover{
		color:$elements;
	}
	&__menu{
		width:80%;
	}
	&__clickBlock{
		display:flex;
		justify-content:flex-end;
		width:100%;
	}
	&__click{
		height: 20px;
		align-self:center;
		width: 20px;
		background-image: url(../img/nav.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
.logo{
	display:flex;
	align-items:center;
	&__img{
		width:150px;
		height:46px;
		//margin-top:16%;
	}
}

.navigation{
	display:flex;
	justify-content:center;
	flex-direction:column;
	&__ul{
		//font-family:$textMenu;
	}
	&__search{
		display:flex;
	}
	&__link:hover{
		color:$elements;
	}
	&__li{
	list-style-type:none;
	display:flex;
	list-style-type:none;
	justify-content:center;
	width:80%;
	}

}
.container{
	width:88%;
	margin:0 auto;
	border:1px solid transparent;
	min-height:800px;
	
}
.top{
	margin-top:10%;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	width:100%;
	height:500px;
	display:flex;
	justify-content:space-between;
	&__left{
		height:100%;
		width:50%;
		background-image:url(../img/leadbit.png);
		@include imag;
		display:flex;
		justify-content:space-between;
	}
	&__right{
		height:100%;
		width:50%;
		
	}
	&__element{
		height:120px;
		width:220px;
		background:rgba(231,76,60,0.5);
		margin-left:2%;
		text-align:center
	}
	&__title{
		margin-top:0;
		margin-bottom:1em;
		height:30px;
	}
	&__descript{
		//margin:12px;
		margin-inline-start:0em;
	}
	&__new{
		display:flex;
		justify-content:space-around;
		flex-wrap:wrap;
		height:100%;
	}
	&__img{
		width:100%;
		height:100%;
		@include imag;
		
	}
	&__hover{
		width:100%;
		height:100%;
		opacity:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		&:hover{
			background:rgba(0,0,0,0.5);
			opacity:1;
		}
	}
	&__button{
		color:$elements;
		font-family:arial;
		font-size:25px;
		border:2px solid $elements;
	}
}
.center{
	align-self:center;
	color:white;
	margin-left:20px;
	font-size:20px;
}
.start{
	color:white;
	font-family:$menu;
	background:$elements;
	height:50px;
	width:120px;
	min-height:50px;
	min-width:120px;
	margin:5%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.text{
	text-align:center;
	width:70%;
	margin-left:15%;
	&__title{
		color:$elements;
	}
}
.bottom{
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:space-around;
	min-height:520px;
	margin-bottom:100px;
	&__element{
		margin-top:5%;
		width:30%;
		height:250px;
		text-align:center
		
	}
	&__img{
		width:50%;
		height:60%;
		@include imag;
		&:hover{
			transition: transform .2s ease-in-out;
			transform: translate3d(0px, -10px, 0px);
			
		}
	}
	&__title{
		margin-block-end: 0.5em;
		margin-block-start: 0.5em;
		color:$Dark;
		font-family:$text;
	}
	&__text{
		padding:0;
		margin:0;
	}
	&__button{
		
		
		//margin-top:20%;
		color:$elements;
		font-family:arial;
		font-size:25px;
		border:2px solid $elements;
	}
	&__hover{
		width:100%;
		height:100%;
		opacity:0;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		&:hover{
			background:rgba(0,0,0,0.5);
			opacity:1;
		}
	}
	
}
.content{
	width:50%;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	padding:10px;
	margin-bottom:50px;
	margin-top:50px;
	&__element{
		width:100%;
		height:100px;
		display:flex;
		margin:10px;
	}
	&__img{
		width:25%;
		height:100%;
		@include imag;
	}
	&__text{
		width:75%;
		height:100%;
		text-align:left;
		color:darken($Dark,20%);
	}
	&__title{
		font-size:1.2em;
		margin:0.4em;
		font-family:$title;
		&:hover{
			color:$elements;
		}
	}
	&__descript{
		margin:0.4em;
		font-family:$text;
	}
}
.footer{
	display:flex;
	width:100%;
	justify-content:center;
	flex-wrap:wrap;
	background:$blockColor;
	&__link{
		text-decoration:underline;
		color:$elements;
	}
	&__center{
		width:90%;
		display:flex;
		justify-content:space-around;
	}
	&__end{
		width:100%;
		display:flex;
		justify-content:center;
		margin-top:20px;
		padding-top:20px;
		background:darken($blockColor, 5%);
		
	}
	&__text{
		//font-family:$textMenu;
		color:$Dark;
	}
	&__img{
		margin:10px;
		height:25px;
	}
	&__element{
		width:30%;
	}
}


//katalog

.filter{
	display:flex;
	align-items:center;
	justify-content:center;
	width:70%;
	flex-wrap:wrap;
}
.type{
	margin:10px;
	&__text{
		color:darken($Dark,20%);
		font-family:$text;
	}
	&__select{
		height:30px;
		width:180px;
		color:$Dark;
		font-family:$text;
		background:$blockColor;
	}
}
.categories{
	width:70%;
	&__flex{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
		align-items:center;
	}
	&__block{
		display:flex;
		width:100%;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
	}
	&__button{
		margin:10px;
		@include redBut;
		font-size:11px;
		border-radius:20px;
		display:flex;
		align-items:center;
		justify-content:center;
		&:hover{
			background:transparent;
			color:darken($Dark,20%)
		}
	}
	&__title{
		color:$elements;
		font-family:$title;
	}
	&__element{
		margin:10px;
	}
}
.go{
	@include redBut;
	margin:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	&:hover{
		box-shadow:0 0 10px rgba(0,0,0,0.5);
	}
}
.previe{
	@include imag;
	height:500px;
	width:60%;
	margin:0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;
	background:rgba(0,0,0,0.5);
}
.state{
	color:darken($Dark,20%);
	width:60%;
	margin:0 auto;
	font-family:$text;
	
}
.plus-minus{
	display:flex;
	justify-content:center;
	&__title{
		color:$elements;
		font-family:$title;
	}
	&__ul{
		padding:0;
		font-family:$menu;
		color:darken($Dark,20%);
	}
	&__element{
		margin:40px;
	}
}
.level{
	width:60%;
	margin:0 auto;
	&__title{
		color:$elements;
		font-family:$title;
	}
	&__text{
		text-decoration:underline;
		color:$blockColor;
		font-family:$text;
	}
}
.date{
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-top:1px solid $blockColor;
	width:60%;
	&__link{
		width:180px;
		height:30px;
	}
}
.news{
	height:800px;
}

.rec{
	width:100%;
	margin-bottom:50px;
	margin-top:20px;
	&__block{
		width:100%;
		display:flex;
		flex-wrap:wrap;
	}
	&__element{
		width:180px;
		height:150px;
		margin:0 auto;
		padding:10px;
		min-width:180px;
		min-height:150px;
	}
	&__img{
		width:100%;
		height:100px;
		@include imag;
		
		
	}
	&__text{
		color:$elements;
		font-family:$menu;
	}
}


.column{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-top:10%;
	margin-bottom:10%;
	&__input{
		border: 2px solid $elements;
		border-radius:6px;
		height:20px;
		width:200px;
		color:$Dark;
	}
	&__textarea{
		border: 2px solid $elements;
		border-radius:6px;
		color:$Dark;
		width:280px;
		height:150px;
	}
	&__button{
		margin-top:2%;
		border: 2px solid $elements;
		border-radius:6px;
		height:40px;
		width:120px;
		background:$elements;
		color:white;
		font-family:$title;
	}
	&__title{
		font-family:$title;
	}
	&__file{
		
	}
}
.row{
	display:flex;
	align-items:center;
	&__selsect{
		background:$blockColor;
		color:$elements;
		border:2px solid $elements;
	}
}

.center{
	display:flex;
	justify-content:center;
	flex-direction:column;

}
.error{
	padding-left:20%;
	height:600px;
	&__title{
		margin-top:10%;
		color:$elements;
	}
}
.size{
	height:400px;
	width:250px;
}
.state-text{
	width:100%;
	height:500px;
}
.content__error{
	font-family:$text;
	color:$blockColor;
}
@media screen and (min-width: 500px) and (max-width: 700px){
	.filter{
		flex-wrap:no-wrap;
	}
	.type{
		margin:5px;
		&__text{
			font-size:15px;
		}
		&__select{
			width:125px;
			height:30px;
			font-size:12px;
		}
	}
	
}
@media screen and (min-width: 1008px) and (max-width: 1375px){
	.content{
		width:60%;
		&__descript{
			font-size:14px;
		}
	}
	
}
@media screen and (min-width: 600px) and (max-width: 1008px){
	.content{
		width:100%;
		&__element{
			height:120px;
		}
		&__descript{
			font-size:14px;
		}
	}
	
}
@media screen and (min-width: 320px) and (max-width: 600px){
	.content{
		width:80%;
		&__element{
			flex-direction:column;
			height:300px;
			margin:0;
		}
		&__descript{
			font-size:14px;
		}
		&__text{
			width:100%;
			height:50%;
		}
		&__img{
			height:50%;
			width:100%;
		}
		&__title{
			font-size:16px;
		}
		&__descript{
			font-size:13px;
		}
	}
	
}
@media screen and (min-width: 600px) and (max-width: 850px){
	.content{
		width:100%;
		&__element{
			height:120px;
		}
		&__descript{
			font-size:14px;
		}
	}
	
}
//admin stile
@media screen and (min-width: 320px) and (max-width: 992px){
	.filter{
		width:100%;
	}
	
}
@media screen and (min-width: 320px) and (max-width: 760px){
	.categories{
		width:100%;
	}
	
}
@media screen and (min-width: 924px) and (max-width: 1830px){
	.top{
		&__element{
			height:110px;;
		}
	}
	
}
@media screen and (min-width: 924px) and (max-width: 1200px){
	.previe{
		width:70%;
		height:400px;
	}
	.top{
		height:1000px;
		flex-direction:column;
		&__left{
			width:100%;
			height:45%;
		}
		&__right{
			width:100%;
			height:55%;
		}
	}
}
@media screen and (min-width: 609px) and (max-width: 924px){
	.previe{
		width:80%;
		height:350px;
	}
	.top{
		height:1100px;
		flex-direction:column;
		&__left{
			width:100%;
			height:40%;
		}
		&__right{
			width:100%;
			height:60%;
		}
	}
	
}
@media screen and (min-width: 425px) and (max-width: 609px){
	.previe{
		width:90%;
		height:300px;
	}
	.top{
		height:1600px;
		flex-direction:column;
		&__left{
			width:100%;
			height:20%;
		}
		&__right{
			width:100%;
			height:80%;
		}
	}
	
}
@media screen and (min-width: 320px) and (max-width: 425px){
	.plus-minus{
		&__element{
			margin:20px;
			font-size:13px;
		}
	}
	.previe{
		width:100%;
		height:250px;
	}
	.level{
		&__title{
			font-size:1em;
		}
	}
	.top{
		height:1600px;
		flex-direction:column;
		&__left{
			width:100%;
			height:15%;
		}
		&__right{
			width:100%;
			height:85%;
		}
		&__title{
			font-size:1.2em;
		}
	}
	.start{
		height:40px;
		width:100px;
		min-height:40px;
		min-width:100px;
		//font-size:16px;
	}
	.center{
		font-size:16px;
	}
	
}
@media screen and (min-width: 744px) and (max-width: 926px){
	.rec{
		&__element{
			min-width:0;
			min-height:0;
			width:140px;
			height:120px;
		}
	}
}
@media screen and (min-width: 520px) and (max-width: 744px){
	.rec{
		&__element{
			min-width:0;
			min-height:0;
			width:200px;
			height:180px;
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 520px){
	.rec{
		&__element{
			min-width:0;
			min-height:0;
			width:180px;
			height:160px;
		}
	}
}
@media screen and (min-width: 320px) and (max-width: 1080px){
	.footer{
		&__center{
			flex-wrap:wrap;
		}
		&__element{
			width:100%;
		}
	}
	
}

@media screen and (min-width: 850px) and (max-width: 1100px){
	.headerCenter{
		width:90%;
	}
	.footer{
		&__center{
			flex-wrap:wrap;
		}
		&__element{
			width:100%;
		}
	}
	
}
@media screen and (min-width: 600px) and (max-width: 1000px){
	.headerCenter__menu{
		width:100%;
	
	}
}
@media screen and (min-width: 750px) and (max-width: 850px){

	.headerCenter{
		width:100%;
		
	}
	
	
}
@media screen and (min-width: 320px) and (max-width: 750px){
	.state{
		width:100%;
		font-size:14px;
	}
	.date{
		width:100%;
	}
	.headerCenter{
		width:100%;
	}
	header,.navigation{
		position:relative;
	}
	.bottom{
		&__element{
			width:80%;
		}
		&__img{
			width:80%;
		}
	}
	.logo{
		&__img{
			width:100px;
			height:40px;
		}
	}
	.footer{
		
		&__text{
			font-size:15px;
		}
		&__center{
			width:100%;
		}
	}
	.text{
		width:100%;
		margin:0;
		&__title{
			font-size:1.2em;
		}
		&__descript{
			font-size:14px;
		}
	}
	
}
@media screen and (min-width: 750px) and (max-width: 1100px){
	.bottom{
		&__element{
			width:45%;
		}
		&__img{
			width:70%;
		}
	}
	
}
@media screen and (min-width: 320px) and (max-width: 425px){
	.categories{
		&__button{
			height:30px;
			width:118px;
			font-size:10px;
		}
	}
}
@media screen and (min-width: 500px) and (max-width: 810px){
	.generlaText{
		&__center{
			width:70%;
			
		}
		
	}
}
@media screen and (min-width: 375px) and (max-width: 500px){
	.generlaText{
		&__center{
			width:90%;
	
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 375px){
	.generlaText{
		&__center{
			width:95%;
	
		}
	}
}